.who {
    background-image: url("../../Resources/Who_image.png");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    max-width: 100%;
    height: 43.5em; 
}