
#admin_inputnumber {
    width: 525px;
height: 62px;
left: 24px;
top: 344px;
border-radius: 100px;
}

#admin_inputnumber {
    position: absolute;
    left: 52.5%;
    top: 26%;
}


#admin_inputpassword {
    width: 525px;
    height: 62px;
    left: 24px;
    top: 344px;
    border-radius: 100px;

}

#admin_inputpassword {
    position: absolute;
    left: 52.5%;
    top: 42%;
}

#user_inputnumber{
    width: 525px;
    height: 62px;
    left: 24px;
    top: 344px;
    border-radius: 100px;

}
#user_inputnumber{
    position: absolute;
    left: 52.5%;
    top: 26%;

}

#user_inputpassword{
    width: 525px;
    height: 62px;
    left: 24px;
    top: 344px;
    border-radius: 100px;

}
#user_inputpassword{
    position: absolute;
    left: 52.5%;
    top: 42%;

}

#watchmen_inputnumber{
    width: 525px;
    height: 62px;
    left: 24px;
    top: 344px;
    border-radius: 100px;

}

#watchmen_inputnumber{
    position: absolute;
    left: 52.5%;
    top: 26%;

}

#watchmen_inputpassword{
    width: 525px;
    height: 62px;
    left: 24px;
    top: 344px;
    border-radius: 100px;

}
#watchmen_inputpassword{
    position: absolute;
    left: 52.5%;
    top: 42%;

}







#dont {
    position: absolute;
    left: 64.2%;
    top: 72%;
}