.adminSignUp {
    background-image: url("../Resources/Wel_admin.png");
    background-size: cover;
    background-position:center;
    background-attachment: scroll;
    /* max-width: 100%; */
    height: 46em; 
    width: auto;
    
    /* position: absolute;
    width: 1400px;
    height: 820px;
    position: relative; */
}

html,body {
    height: 100%;
}
